@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
body {
    font-family: 'Cormorant Garamond', serif;
    background-image: url(kneadbread.avif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.account-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 200px 10px 200px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.account-container h1{
    margin-top: -10px;
    font-size: 60px;
    text-align: center;
}
.account-container p{
    margin-top: -40px;  
    font-size: 14px;
    font-weight: 550;
    text-align: center;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 10px;
    align-items: center;
    justify-content: center;

    & .btn{
        padding: 12px 0;
        width: 300px;
        text-align: center;
        display: inline-block;
        margin-bottom: 10px;
        border-radius: 20px;
        cursor: pointer;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 214, 131);
        border-style: none;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 550;
        font-size: 16px;
        text-decoration: none !important;
    }
}
.btn:hover{
    background-color: rgb(255, 230, 170);
}
.guest{
    display: flex;
    justify-content: center;
    align-items: center;
}