@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 550;
    font-family: 'Cormorant Garamond', serif;
}
nav {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    width: 100%;
    list-style: flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav .showOnMobile:hover {
    background-color: rgb(255, 214, 131);
}
nav .hideOnMobile:hover {
    background-color: rgb(255, 214, 131);
}
nav li:first-child {
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menu-button {
    display: none;
}
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
.header {
    margin-top: 20px;
    text-align: center;
}
.slide-wrapper h3{
    margin-top: 40px;
    margin-bottom: -35px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
.pastries {
    margin-right: 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 30px;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 40px;
}
.pastries-container {
    flex: 0 0 450px;
    scroll-snap-align: center;
    text-align: center;
}
.pastries-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
.pastries-container h4 {
    text-align: center;
}
.bread {
    margin-right: 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 30px;
    padding: 40px;
    scrollbar-width: none;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
}
.bread-container {
    flex: 0 0 450px;
    scroll-snap-align: center;
    text-align: center;
}
.bread-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
.bread-container h4 {
    text-align: center;
}
.drink {
    margin-right: 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 30px;
    padding: 40px;
    scrollbar-width: none;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
}
.drink-container {
    flex: 0 0 450px;
    scroll-snap-align: center;
    text-align: center;
}
.drink-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
.drink-container h4 {
    text-align: center;
}
.cart{
    position: fixed;
    top: 0px;
    right: -100%;
    width: 360px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
}
.cart.active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 30px;
}
.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}
.cart-detail{
    display: grid;
    gap: 8px;
    margin-right: auto;
}
.cart-product-title{
    font-size: 16px;
    line-height: 1;
}
.cart-price{
    font-weight: 500;
}
.cart-qty{
    display: flex;
    width: 100px;
    border: 1px solid black;
    border-radius: 6px;
}
.cart-qty button{
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.cart-qty #decrement{
    color: grey;
}
.cart-qty .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    cursor: default;
}
.cart-remove{
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid gray;
    margin-top: 20px;
    font-size: 18px;
}
.total-price{
    margin-left: 10px;
    font-weight: 600;
}
.btn{
    display: block;
    padding: 10px 30px;
    background: rgb(255, 214, 131);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 550;
    color: rgb(0, 0, 0);
    margin: 20px auto 0;
    cursor: pointer;
    font-family: 'Cormorant Garamond', serif;
}
#cart-close{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}
.add-cart{
    border: 1px solid rgb(255, 214, 131);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 214, 131);
    color: rgb(0, 0, 0);
    font-weight: 550;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
    font-family:'Cormorant Garamond', serif ;
}
.add-cart:hover{
    background-color: rgb(255, 230, 170);
}
footer{
    border-top: 1px solid #f0f0f0;
    padding: 20px;
    margin-top: -20px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    text-align:center;
}
