@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 550;
    font-family:"Cormorant Garamond", serif;
}
nav {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    width: 100%;
    list-style: flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav .showOnMobile:hover {
    background-color: rgb(255, 214, 131);
}
nav .hideOnMobile:hover {
    background-color: rgb(255, 214, 131);
}
nav li:first-child {
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menu-button {
    display: none;
}
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
.hero-section-container{
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 50px 0;
;
}
.hero-section-container img{
    max-width: 999px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.header-best-seller{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}
.best-seller-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;
    padding: 50px 10px;
}
.best-seller img{
    width: 100%;
    height: 600px;;
    border-radius: 10px;
}
.best-seller h2{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.eye-break{
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}
footer{
    border-top: 1px solid #f0f0f0;
    padding: 20px;
    margin-top: 100px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    text-align:center;
}