@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 550;
    font-family: 'Cormorant Garamond', serif;
}
nav {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    width: 100%;
    list-style: flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav .showOnMobile:hover {
    background-color: rgb(255, 214, 131);
}
nav .hideOnMobile:hover {
    background-color: rgb(255, 214, 131);
}
nav li:first-child {
    margin-right: auto;
}

div {
    margin: 20px;
    padding: 20px;
}
h1 {
    text-align: center;
}
.twoButtons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
a .button {
    gap: 20px;
}
div .form{
    padding: 0px 80px 0px 80px;
}
.complain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input{
    width: 60%;
    height: 100%;
    background: #fff;
    border: black;
    outline: black;
    border: 1.5px solid rgb(255, 214, 131);
    border-radius: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    font-family: 'Cormorant Garamond', serif;
}
.large-input{
    width: 60%;
    height: 200px;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    border: 1.5px solid rgb(255, 214, 131);
    font-family: 'Cormorant Garamond', serif;
    outline: none;
}
.googleMap{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: none;
}
.submit{
    border: 1px solid rgb(255, 214, 131);
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background-color: rgb(255, 214, 131);
    color: rgb(0, 0, 0);
    font-weight: 550;
    margin-top: -5px;
    font-family:'Cormorant Garamond', serif ;
}
.submit:hover{
    background-color: rgb(255, 230, 170);
}
footer{
    border-top: 1px solid #f0f0f0;
    margin-bottom: -100px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    text-align:center;
}
